@import url("https://use.typekit.net/lod0hds.css");

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  height: -webkit-fill-available;
}
body {
  overscroll-behavior: none;
  margin: 0;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

input,
textarea {
  background: none;
  outline: none;
  border: 1px solid grey;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
